html, body {height: 100%;width: 100%;box-sizing: border-box;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;zoom: 90%}
/* CSS FOR USERS WHO ARE ON DESKTOP */
/* Title and Nav Bar */
h1 {text-align: center;background-color: #C08374; border: 1px solid #A76358;color: white;padding:20px;text-size-adjust: 35;}
.banner {width: 100%;height: 600px;}
#nav {background-color: #C08374;border: 1px solid #A76358;text-align: center;}
ul{list-style: none;display: inline-block;}ul li {float: left;margin: 0 20px;}ul li a {color: white;}
.logoo {float: left;}
.aboutheader {text-align: center;display: flex;margin-left: 10px;margin-right: 10px;}
.h2 {background-color: #C08374;border: 1px solid #A76358;color: white;padding: 10px;}
.footer {position: fixed;padding: 10px 10px 0px 10px;bottom: 0;width: 100%;height:40px;background: #C08374;text-align: center;}
/* Home Page */
.aboutvision {min-height: 150px;display: flex;gap: 20px;padding: 5px 5px;}
.about .textone {display: flex;flex-direction: column;gap: 20px;min-height:150px;width:100%;}
.about .textone h2 {font-size: var(--font-3x-large);width: max-content;}
.about .textone p {font-size: 35px;}
.about .textone a {width: max-content;}
.spacing{margin: auto;width: 95%;padding: 1px;font-size: 30px;}
.abustitle{font-size: 40px;}
.visiontitle{font-size: 40px;}
.choose{font-size: 40px}
.learn{font-size:25px;text-align: center;padding: 5px 5px;}
.links{text-align: center; color: black;font-size: 20px;}
.more{text-align: center;}
/* Trainees */
*, *:before, *:after {box-sizing: inherit;}
.tcolumn {float: left;width: 33.3%;margin-bottom: 16px;padding: 0 8px;}
.text1{font-size: var(--font-3x-large);text-align: center}
/* form page */
.formcss{margin: auto;width: 100%;padding: 50px;}
.form {align-content: center;align-items: center;display: block;margin-top: 0em;}
.label{align-items: center;}
.reasons{text-align: center;}
.return {text-align: center;}
.nextsteps{max-width: 90%;}
/* courses */
.maintenance{font-size: 20px;padding-top: 50px;text-align: center;}

/* CSS FOR PEOPLE WHO ARE ON PHONE BELOW. */
@media screen and (max-width: 650px) {
/* Title and Nav Bar */
h1 {text-align: center;background-color: #C08374; border: 1px solid #A76358;color: white;padding:20px;text-size-adjust: 35;}
#nav {background-color: #C08374;border: 1px solid #A76358;text-align: center;}
ul{list-style: none;display: inline-block;}ul li {float: left;margin: 0 20px;}ul li a {color: white;}
.logoo {float: left;}
.aboutheader {text-align: center;display: flex;margin-left: 10px;margin-right: 10px;}
.h2 {background-color: #C08374;border: 1px solid #A76358;color: white;padding: 10px;}
.footer {position: fixed;padding: 10px 10px 0px 10px;bottom: 0;width: 100%;height:40px;background: #C08374;text-align: center;}
  /* home */
.spacing{margin: auto;width: 90%;padding: 1px;}
.banner {width: 100%;height: 250px;}
.aboutvision {min-height: 150px;display: flex;gap: 10px;padding: 50px 5px;font-size: 19px;}
.about .textone {display: flex;flex-direction: column;gap: 10px;min-height:150px;width:100%;}
.about  h2 {font-size: var(--font-3x-large);width: max-content;}
.about .textone p {font-size: 19px;}
.about .textone a {width: max-content;font-size: 19px;}
.abustitle{font-size: 19px;}
.visiontitle{font-size: 19px;}
.choose{font-size: 19px}
.reasonsp{font-size: 19px;}
.more{text-align: center;}
.maintenance{font-size: 20px;padding-top: 50px;text-align: center;}
.links{text-align: center; color: black;font-size: 15px;}
  /* form */
.formcss{margin: auto;width: 500px;padding: 50px;}
.column {width: 100%;display: block;}}
.card {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);}
.container {padding: 0 16px;}
.container::after, 
.row::after {content: "";clear: both;display: table;}
.title {color: grey;}
/* trainees */
.text1{font-size: var(--font-medium-large);text-align: center}